button {
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
}

button:hover {
    transition: all 0.5s ease-in-out;
    background-color: #ffffff !important;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.screen {
    font-size: 10px;
    background-color: black;
}
