.Game {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

table {
    border-spacing: 3px; /* Расстояние между ячеек */
    margin-bottom: 30px;
}



a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 100px;
    height: 100px;
}

input {
    cursor: pointer;
}
